h1{
    font-family: sans-serif;
    background-color: #9a9d9a;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 400px;
    overflow: auto
}

h2{
    font-family: sans-serif;
    padding-top: 10px;
    margin-left: -20px;
    margin-bottom: 10px;
}

p{
    font-family: sans-serif;
    background-color: #9a9d9a;
    color: white;
}

#pfp{
    width: 50vw;
}

.socials{
    height: 50px;
}

body{
    background-color: #f0f5f1;
    color: white;
}

i{
    size: 5px;
    color: gold;
    padding-left: 10px;}

a{
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(67, 99, 159);
}

a:hover{
    text-decoration: underline;
    color: white;
}


div{
    font-family: sans-serif;
    background-color: #9a9d9a;
    color: white;
    padding-bottom: 10px;
}

#audio{
    background-color: #f0f5f1;
}