h1{
    font-family: sans-serif;
    font-size: 30px;
    background-color: #9a9d9a;
    color: white;
    padding-left: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 238px;
    overflow: auto
}

h2{
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 10px;
    margin-left: -20px;
    margin-bottom: 10px;
}

p{
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
    /*color: #8f918f;*/
    /*color:#9a9d9a;*/
    color:#a37c18;
    background-color: white;
    padding: 8px 15px;
    border-style: ridge;
    border-color: goldenrod;
    border-width: 6px;
}

.pics{
    margin: 60px;
    height: 140px;
    border-width: 7px;
    border-color: #f5ebd0;
    border-style: inset;
    outline-style: ridge;
    outline-width: 16px;
    outline-color: goldenrod;
}

.socials{
    height: 50px;
}

body{
    background-color: #eff3f0;
    color: white;
}

i{
    size: 5px;
    color: gold;
    padding-left: 10px;}

a{
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(67, 99, 159);
}

a:hover{
    text-decoration: underline;
    color: white;
}

div{
    font-family: sans-serif;
    background-color: #9a9d9a;
    color: white;
    padding-right: 35px;
    padding-bottom: 20px;
    border-style: solid;
    border-width: 11px;
    margin: 0px -10px;
    border-color:#476286;
    /*outline-style: ridge;
    outline-color: rgb(67, 99, 159);
    outline-width: 5px;*/

    
}

#flex1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#flex2{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#para{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: -12px;
}

